/node_modules
/public/hot
/public/storage
/public/js/
/public/css/
/public/build/
/public/mix-manifest.json
/storage/*.key
/storage/*.sqlite
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
google-credentials.json
.idea/
.composer
.deployment
