services:
  app:
    build:
      context: ./environment/dev/app
      dockerfile: Dockerfile
      args:
        - INSTALL_XDEBUG=${DOCKER_INSTALL_XDEBUG:-true}
        - USER_ID=${DOCKER_HOST_USER_ID:-1000}
    labels:
      - "traefik.enable=true"
      - "traefik.blumilk.local.environment=true"
      # HTTP
      - "traefik.http.routers.toby-http-router.rule=Host(`${APP_DOCKER_HOST_NAME}`)"
      - "traefik.http.routers.toby-http-router.entrypoints=web"
      - "traefik.http.routers.toby-http-router.service=toby-app"
      # HTTP to HTTPS redirect
      #- "traefik.http.routers.toby-http-router.middlewares=https-redirect@file"
      # HTTPS
      - "traefik.http.routers.toby-https-router.rule=Host(`${APP_DOCKER_HOST_NAME}`)"
      - "traefik.http.routers.toby-https-router.entrypoints=websecure"
      - "traefik.http.routers.toby-https-router.tls=true"
      - "traefik.http.routers.toby-https-router.service=toby-app"
      # APP LOADBALANCER
      - "traefik.http.services.toby-app.loadbalancer.server.port=80"
      # VITE DEV SERVER
      - "traefik.http.routers.toby-vite-dev-server-https-router.rule=Host(`${VITE_DEV_SERVER_DOCKER_HOST_NAME}`)"
      - "traefik.http.routers.toby-vite-dev-server-https-router.entrypoints=websecure"
      - "traefik.http.routers.toby-vite-dev-server-https-router.tls=true"
      - "traefik.http.routers.toby-vite-dev-server-https-router.service=toby-vite-dev-server"
      - "traefik.http.services.toby-vite-dev-server.loadbalancer.server.port=5173"
    container_name: toby-app-dev
    working_dir: /application
    volumes:
      - toby-unit-data:/var/lib/unit
      - ./environment/dev/app/php.ini:/usr/local/etc/php/conf.d/zzz-overrides.ini:ro
      - ./environment/dev/app/supervisord.conf:/etc/supervisor/custom-supervisord.conf:ro
      - .:/application
    ports:
      - ${DOCKER_APP_HOST_PORT:-8751}:80
    networks:
      - toby-dev
      - traefik-proxy-blumilk-local-environment
    restart: unless-stopped
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_healthy

  database:
    image: postgres:15@sha256:a7711af921c380de0fda7c48a61fab5ac4def145fd9fc00ccea7355fd6270bb4
    container_name: toby-db-dev
    environment:
      - PGPASSWORD=${DOCKER_DEV_DB_ROOT_PASSWORD}
      - POSTGRES_DB=${DOCKER_DEV_DB_DATABASE}
      - POSTGRES_USER=${DOCKER_DEV_DB_USERNAME}
      - POSTGRES_PASSWORD=${DOCKER_DEV_DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready --dbname ${DOCKER_DEV_DB_DATABASE} --username ${DOCKER_DEV_DB_USERNAME}" ]
      interval: 3s
      timeout: 3s
      retries: 5
    ports:
      - ${DOCKER_DATABASE_HOST_PORT:-5432}:5432
    volumes:
      - toby-pgsql-data:/var/lib/postgresql/data
    networks:
      - toby-dev
    restart: unless-stopped

  redis:
    image: redis:7.0-alpine3.16@sha256:2700d5097763fda285c463f4eefc3d0730a2df2a9d48e66707b19d5a5e5f23d4
    container_name: toby-redis-dev
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 3s
      timeout: 3s
      retries: 5
    ports:
      - ${DOCKER_REDIS_HOST_PORT:-6379}:6379
    volumes:
      - toby-redis-data:/data
    networks:
      - toby-dev
    restart: unless-stopped

  mailpit:
    image: axllent/mailpit:v1.27@sha256:e22dce5b36f93c77082e204a3942fb6b283b7896e057458400a4c88344c3df68
    container_name: toby-mailpit-dev
    labels:
      - "traefik.enable=true"
      - "traefik.blumilk.local.environment=true"
      # HTTP
      - "traefik.http.routers.toby-mailpit-http-router.rule=Host(`${MAILPIT_DOCKER_HOST_NAME}`)"
      - "traefik.http.routers.toby-mailpit-http-router.entrypoints=web"
      # HTTP to HTTPS redirect
      #- "traefik.http.routers.toby-mailpit-http-router.middlewares=https-redirect@file"
      # HTTPS
      - "traefik.http.routers.toby-mailpit-https-router.rule=Host(`${MAILPIT_DOCKER_HOST_NAME}`)"
      - "traefik.http.routers.toby-mailpit-https-router.entrypoints=websecure"
      - "traefik.http.routers.toby-mailpit-https-router.tls=true"
      # LOADBALANCER MAILPIT PORT
      - "traefik.http.services.toby-mailpit.loadbalancer.server.port=8025"
    ports:
      - ${DOCKER_MAILPIT_DASHBOARD_HOST_PORT:-8025}:8025
    networks:
      - toby-dev
      - traefik-proxy-blumilk-local-environment
    restart: unless-stopped

  selenium:
    image: selenium/standalone-chrome@sha256:57bc98a9023c2189459dfaa0b4f127300007ef70d7dba3444c837338c468dba4
    container_name: toby-selenium-dev
    volumes:
      - /dev/shm:/dev/shm
    networks:
      - toby-dev
    restart: unless-stopped

networks:
  toby-dev:
    driver: bridge
  traefik-proxy-blumilk-local-environment:
    external: true

volumes:
  toby-pgsql-data:
    name: toby-pgsql-data
  toby-redis-data:
    name: toby-redis-data
  toby-unit-data:
    name: toby-unit-data
