version: "3.8"

networks:
  traefik-proxy:
    external: true
  toby-beta:
    driver: bridge

volumes:
  toby-beta-pgsql-data:
    name: toby-beta-pgsql-data
  toby-beta-redis-data:
    name: toby-beta-redis-data

services:
  toby-beta-app:
    image: ghcr.io/blumilksoftware/toby-beta-slim:latest
    container_name: toby-beta-app
    pull_policy: always
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          memory: 512M
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.toby-beta-app.rule=Host(`${TOBY_HOST_NAME:? variable TOBY_HOST_NAME not set}`)"
      - "traefik.http.routers.toby-beta-app.entrypoints=websecure"
      - "traefik.http.routers.toby-beta-app.tls=true"
      - "traefik.http.routers.toby-beta-app.tls.certresolver=lets-encrypt-resolver"
      - "traefik.http.routers.toby-beta-app.middlewares=response-gzip-compress@file"
    depends_on:
      toby-beta-database:
        condition: service_healthy
    working_dir: /application
    volumes:
      - ./.env:/application/.env:ro
    networks:
      - toby-beta
      - traefik-proxy
    restart: unless-stopped
    env_file:
      - .deployment

  toby-beta-database:
    image: postgres:15
    container_name: toby-beta-database
    environment:
      - PGPASSWORD=${DOCKER_TOBY_BETA_DB_ROOT_PASSWORD:? variable DOCKER_TOBY_BETA_DB_ROOT_PASSWORD not set}
      - POSTGRES_DB=${DOCKER_TOBY_BETA_DB_DATABASE:? variable DOCKER_TOBY_BETA_DB_DATABASE not set}
      - POSTGRES_USER=${DOCKER_TOBY_BETA_DB_USERNAME:? variable DOCKER_TOBY_BETA_DB_USERNAME not set}
      - POSTGRES_PASSWORD=${DOCKER_TOBY_BETA_DB_PASSWORD:? variable DOCKER_TOBY_BETA_DB_PASSWORD not set}
    healthcheck:
      test: "pg_isready"
      interval: 3s
      timeout: 3s
      retries: 5
    volumes:
      - toby-beta-pgsql-data:/var/lib/postgresql/data
    networks:
      - toby-beta
    restart: unless-stopped

  toby-beta-redis:
    image: redis:7.0-alpine3.16
    container_name: toby-beta-redis
    volumes:
      - toby-beta-redis-data:/data
    networks:
      - toby-beta
    restart: unless-stopped
