version: "3.8"

networks:
  traefik-proxy:
    external: true
  toby-beta:
    driver: bridge

volumes:
  toby-beta-pgsql-data:
    name: toby-beta-pgsql-data
  toby-beta-redis-data:
    name: toby-beta-redis-data

services:
  toby-beta-app:
    image: registry.blumilk.pl/internal-public/toby:beta
    container_name: toby-beta-app
    pull_policy: always
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          memory: 512M
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.toby-beta-app.rule=Host(`${TOBY_HOST_NAME:? variable TOBY_HOST_NAME not set}`)"
      - "traefik.http.routers.toby-beta-app.entrypoints=websecure"
      - "traefik.http.routers.toby-beta-app.tls=true"
      - "traefik.http.routers.toby-beta-app.tls.certresolver=lets-encrypt-resolver"
      - "traefik.http.routers.toby-beta-app.middlewares=response-gzip-compress@file"
    depends_on:
      toby-beta-database:
        condition: service_healthy
      toby-beta-redis:
        condition: service_healthy
    working_dir: /application
    volumes:
      - ./.env:/application/.env:ro
    networks:
      - toby-beta
      - traefik-proxy
    restart: unless-stopped
    env_file:
      - .deployment

  toby-beta-database:
    image: postgres:15@sha256:c189d272e4fcdd1ac419adee675d30be3d389c22ee770d593f15819d22a68a0d
    container_name: toby-beta-database
    environment:
      - PGPASSWORD=${DOCKER_TOBY_BETA_DB_ROOT_PASSWORD:? variable DOCKER_TOBY_BETA_DB_ROOT_PASSWORD not set}
      - POSTGRES_DB=${DOCKER_TOBY_BETA_DB_DATABASE:? variable DOCKER_TOBY_BETA_DB_DATABASE not set}
      - POSTGRES_USER=${DOCKER_TOBY_BETA_DB_USERNAME:? variable DOCKER_TOBY_BETA_DB_USERNAME not set}
      - POSTGRES_PASSWORD=${DOCKER_TOBY_BETA_DB_PASSWORD:? variable DOCKER_TOBY_BETA_DB_PASSWORD not set}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready --dbname ${DOCKER_TOBY_BETA_DB_DATABASE} --username ${DOCKER_TOBY_BETA_DB_USERNAME}"]
      interval: 3s
      timeout: 3s
      retries: 5
    volumes:
      - toby-beta-pgsql-data:/var/lib/postgresql/data
    networks:
      - toby-beta
    restart: unless-stopped

  toby-beta-redis:
    image: redis:7.0-alpine3.16@sha256:2700d5097763fda285c463f4eefc3d0730a2df2a9d48e66707b19d5a5e5f23d4
    container_name: toby-beta-redis
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 3s
      timeout: 3s
      retries: 5
    volumes:
      - toby-beta-redis-data:/data
    networks:
      - toby-beta
    restart: unless-stopped
