@import 'tailwindcss';
@import 'flatpickr/dist/themes/light.css';
@import 'flatpickr/dist/plugins/monthSelect/style.css';
@import 'vue-toastification/dist/index.css';
@import 'floating-vue/dist/style.css';


@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: Inter var;

  --color-blumilk-25: #f4f8fd;
  --color-blumilk-50: #d5dfee;
  --color-blumilk-100: #c7d4e9;
  --color-blumilk-200: #aabddd;
  --color-blumilk-300: #8ca7d1;
  --color-blumilk-400: #6f90c6;
  --color-blumilk-500: #527aba;
  --color-blumilk-600: #3c5f97;
  --color-blumilk-700: #2c466f;
  --color-blumilk-800: #1c2d47;
  --color-blumilk-900: #0c141f;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: #4F46E5;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-monthSelect-month.selected {
    background: #527ABA !important;
    box-shadow: none !important;
    color: #fff !important;
    border-color: #527ABA !important;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: -10px 0 0 #527ABA;
    box-shadow: -10px 0 0 #527ABA;
}

.flatpickr-day.week.selected {
    border-radius: 0;
    -webkit-box-shadow: -5px 0 0 #527ABA, 5px 0 0 #527ABA;
    box-shadow: -5px 0 0 #527ABA, 5px 0 0 #527ABA;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #dadce0;
    border: 4px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #dadce0;
}

.v-popper__popper {
    font-size: .66em;
}
