name: Deploy to beta manually

concurrency:
  group: deploy-beta
  cancel-in-progress: true

on:
  workflow_dispatch:

jobs:

  deploy:
    environment: beta
    name: Deploy to beta
    runs-on: ubuntu-22.04
    env:
      BRANCH_NAME: $GITHUB_REF_NAME
    steps:
      - name: run deployment script over ssh
        uses: appleboy/ssh-action@v0.1.5
        with:
          timeout: 10s
          command_timeout: 10m
          host: ${{ secrets.TOBY_VPS_HOST }}
          port: ${{ secrets.TOBY_VPS_PORT }}
          username: ${{ secrets.TOBY_VPS_USERNAME }}
          password: ${{ secrets.TOBY_VPS_PASSWORD }}
          script_stop: true
          script: |
            cd /blumilk/beta/projects/toby
            git fetch
            git checkout --force "${{ env.BRANCH_NAME }}"
            git pull
            make beta-deploy
