name: Deploy to beta manually

concurrency:
  group: deploy-beta
  cancel-in-progress: true

on:
  workflow_dispatch:

jobs:

  deploy:
    environment: beta
    name: Deploy to beta
    runs-on: ubuntu-22.04
    steps:
      - name: set branch name
        run: echo "BRANCH_NAME=$GITHUB_REF_NAME" >> $GITHUB_ENV

      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ env.BRANCH_NAME }}

      - name: sync with main branch
        run: |
          git merge --no-commit --no-ff origin/main

      - name: set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: build and push image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./environment/prod/app/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/toby:beta
          cache-from: type=gha, ref=ghcr.io/${{ github.repository_owner }}/toby-beta-build-cache
          cache-to: type=gha, ref=ghcr.io/${{ github.repository_owner }}/toby-beta-build-cache, mode=max

      - name: run deployment script over ssh
        uses: appleboy/ssh-action@v0.1.8
        with:
          timeout: 10s
          command_timeout: 10m
          host: ${{ secrets.TOBY_VPS_HOST }}
          port: ${{ secrets.TOBY_VPS_PORT }}
          username: ${{ secrets.TOBY_VPS_USERNAME }}
          password: ${{ secrets.TOBY_VPS_PASSWORD }}
          script_stop: true
          script: |
            cd ${{ secrets.TOBY_VPS_BETA_APP_PATH }}
            git fetch
            git checkout --force "${{ env.BRANCH_NAME }}"
            git pull
            git merge --no-commit --no-ff origin/main
            make beta-deploy
            docker rmi --force $(docker images --quiet 'ghcr.io/blumilksoftware/toby' | uniq)

