name: Run PHP Artisan command on beta

on:
  workflow_dispatch:
    inputs:
      artisan_arguments:
        description: "PHP Artisan command arguments (php artisan <args>)"
        type: string
        required: true

jobs:

  run-command:
    name: Run command via ssh
    runs-on: ubuntu-24.04
    steps:
      - name: run php artisan command
        uses: appleboy/ssh-action@823bd89e131d8d508129f9443cad5855e9ba96f0 # v1.2.4
        with:
          timeout: 10s
          command_timeout: 10m
          host: ${{ secrets.VPS_OVH_BF7EC892_HOST }}
          port: ${{ secrets.VPS_OVH_BF7EC892_PORT }}
          username: ${{ secrets.VPS_OVH_BF7EC892_USERNAME }}
          key: ${{ secrets.VPS_OVH_BF7EC892_SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.VPS_OVH_BF7EC892_SSH_PRIVATE_KEY_PASSPHRASE }}
          script_stop: true
          script: |
            cd ${{ secrets.TOBY_VPS_BETA_APP_PATH }}/environment/prod/deployment/beta
            make beta-artisan ARTISAN_ARGS="${{ inputs.artisan_arguments }}"
